<!--The content below is only a placeholder and can be replaced.-->

<div class="container border border-dark rounded mt-4" > <!-- Login_Window -->

  <div class="row pt-3 pb-3" style="background-color: #94d273"> <!-- Login_header -->
    <div class="col text-center">
      <h3>Login</h3>
    </div>
  </div> <!-- Login -->

  <!-- Login body -->
  <div class="container">
    <div class="row">
      <div class="col">
        <form name="form" class="mt-2" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <input type="text" class="form-control mb-2" name="username" placeholder="Username" [(ngModel)]="model.username" #username="ngModel" required />
              <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <input type="password" class="form-control mb-2" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required />
              <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group">
              <button class="btn btn-primary mb-3" type="submit" id="submit" [disabled]="loading" class="btn btn-primary">Login</button>
            <!-- <a [routerLink]="['/register']" class="btn btn-link">Register</a> -->
          </div>
        </form>
     </div>
    </div>
  </div>

  <!-- <div class="row justify-content-center"> -->
    <!-- <button class="btn btn-primary mb-3" type="button" id="submit" (click)="onLogIn()">Login</button> -->
  <!-- </div> -->
</div> <!-- Login_Window -->
