<div class="profile-update">
  <div class="container jumbotron text-center">
    <h1 class="display-3">Chatboard</h1>
  </div>

  <div class="container registration text-center mt-5">
    <form #registrationForm="ngForm" class="text-center mb-3">
      <div class="form-row">
        <span class="col">
          <input #firstName class="form-control" id="first-name" name="firstName" placeholder="Change First Name">
        </span>
        <span class="col">
          <input #lastName class="form-control" id="last-name" name="lastName" placeholder="Change Last Name">
        </span>
        <span class="col">
          <select #candidate class="form-control" id="candidacy" name="candidate">
            <option value="" [disabled]="true" [selected]="true">Change Candidacy</option>
            <option *ngFor="let cand of ['President','Sentor','Congressman']">{{cand}}</option>
          </select>
        </span>
        <span class="col">
          <select #party class="form-control" id="party" name="party">
            <option value="" [disabled]="true" [selected]="true">Change Party</option>
            <option *ngFor="let party of ['President','Sentor','Congressman']">{{party}}</option>
          </select>
        </span>
      </div>
      <div class="form-row mt-3">
        <span class="col">
          <input #email class="form-control" id="email" name="email" placeholder="Change Email" required>
        </span>
      </div>
      <div class="form-row mt-3">
        <span class="col">
          <input #zipcode class="form-control" type="zipcode" id="zipcode" name="zipcode" placeholder="Change Zipcode">
        </span>
      </div>
      <div class="form-row mt-3">
        <span class="col">
          <input #phone class="form-control" type="phone" id="phone" name="phone" placeholder="Change Phone">
        </span>
      </div>
      <button type="submit" class="btn mt-3" [disabled]="!registrationForm.form.valid">Update Account</button>

      <app-password-change></app-password-change>

    </form>
  </div>
</div>
