<div class="" *ngIf="userShow">
  <div class="card hovercard">
      <div class="card-background">
          <img class="card-bkimg" alt="" src="./assets/profile/{{userShow.picture}}">
      </div>
      <div class="useravatar">
          <img alt="" src="./assets/profile/{{userShow.picture}}">
      </div>
      <div class="card-info"> <span class="card-title">{{userShow.firstName}} {{userShow.lastName}}</span>
     </div>

  </div>
</div>
  <div class="card" *ngIf="userShow">
    <div class="card-header">
      <h4 >User Profile: {{userShow.username}}</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Description: {{userShow.description}}</h5>
    </div>
  </div>


  <div class="row" *ngIf="userShow">
      <div class="col">
          <div class="card" style = "">
              <p class="pull-left">First Name: <strong>{{userShow.firstName}}</strong></p>
              <p class="pull-left">Last Name: <strong>{{userShow.lastName}}</strong></p>
              <p class="pull-left">Email: <strong>{{userShow.email}}</strong></p>
              <p class="pull-left" *ngIf="userShow.zipCode">Zipcode:<strong>{{userShow.zipCode}}</strong></p>
            </div>
      </div>
      <div class="col">
          <div class="card" style="">
              <p class="pull-left">Position running: <strong>{{userShow.candidates}}</strong></p>
              <p class="pull-left">Party Affiliation: <strong>{{userShow.party}}</strong></p>
              <p class="pull-left" *ngIf="userShow.phone">Phone:<strong>{{userShow.phone}}</strong></p>
            </div>
      </div>

    </div>
    <div class="row" *ngIf="userShow">
      <div class="col">
          <div class="card" style="">
              <div class="card-header">
                  <h4>Issues</h4>
              </div>
              <ul class="list-group list-group-flush"*ngFor="let issue of issues">
                  <li class="list-group-item">{{issue}}</li>
              </ul>
            </div>
      </div>
      <div class="col">
          <div class="card" style="">
              <div class="card-header">
                  <h4 >Voting History</h4>
              </div>
              <div class="list-group-item" *ngIf="userShow.candidates == 'Voter' ">Just a voter!</div>
              <div *ngIf="userShow.candidates != 'Voter' " >
                <ul class="list-group list-group-flush" *ngFor="let voting of history">
                  <li class="list-group-item">{{voting}}</li>
                </ul>
              </div>
          </div>
        </div>
      </div>
