<div class="container">
  <div class="row">
    <div class="col">

      <form (onSubmit)="storePosts(f)" #f="ngForm"> <!--(onsubmit)="onCreatePost(f)" "#f=ngForm"-->
        <div class="form-group">

          <button
          class="btn btn-primary mt-2 mb-2"
          type="submit"
          id="submit"
          (click)="storePosts()"
          [disabled]="!f.valid"
          >Add Post
        </button>

        <textarea
          rows="4"
          class="form-control mb-2"
          name="newPost"
          placeholder="Write your post here"
          required
          ngModel
          >
        </textarea>
        
        <div class="from-group border border-success mb-3" *ngFor="let post of postsArr"> 
          <ul class="list-group">
            <div class="input-group-prepend ">
                <span class="input-group-text rounded-0" id="inputGroup-sizing-sm">{{ post.userName }}</span>
              </div>
            <li class="list-group-item" id="postField">{{ post.body }}</li>
            <app-comments [postId]="post.id"></app-comments> 
          </ul>
        </div> 
  </div>
</form>


  <!-- <div class="dropdown show">
    <a dropdown-toggle href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown link
    </a>

    <ul class="dropdown-menu">
      <li class="dropdown-item" >Action</li>
      <li class="dropdown-item" >Another action</li>
      <li class="dropdown-item" >Something else here</li>
    </ul>
  </div>
 -->












<!-- Example single danger button -->
<!-- <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>
 -->






<!--

  <form (onSubmit)="addComment(m)" #m="ngForm">

  </form>

-->




</div><!--col-->
</div> <!--row-->
</div> <!--container-->
